<div
  class="
    container-fluid
    d-flex
    flex-column
    align-items-center
    justify-content-center
    vh-100
  "
>
  <div class="row mb-3">
    <div class="col">
      <h1 id="title">Bin2Dec</h1>
    </div>
  </div>

  <div class="row w-50 mb-2">
    <div class="col">
      <input class="form-control" placeholder="Write your binary" />
    </div>
  </div>

  <div class="row w-50">
    <div class="col">
      <input class="form-control" placeholder="Let me show your decimal" />
    </div>
  </div>
</div>
